<ion-header>
  <ion-navbar>
    <ion-title>
      Kunder Comics
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let comic of listComics"  icon-left>
            <ion-thumbnail item-left *ngIf="comic.thumbnail">
                <img src={{comic.thumbnail.path}}.{{comic.thumbnail.extension}}>
            </ion-thumbnail>
            <h2>{{comic.title}}</h2>
            <h3>
              <div *ngFor="let date of comic.dates">
                <div *ngIf="date.type=='onsaleDate'">publicado: {{date.date | date: 'dd MMMM yyyy'}}</div>
              </div>
            </h3>
            <h4>
              {{comic.description}}
            </h4>
        </button>
    </ion-list>
</ion-content>
